<section class="newsletter">
  <div class="newsletter__container">
    <h3 class="newsletter__heading">{{ 'newsletter.heading' | translate }}</h3>
    <p class="newsletter__text">{{ 'newsletter.text' | translate }}</p>

    @switch (status()) {
      @case ('success') {
        <div class="newsletter__success">
          <span class="material-icons-outlined">check_circle</span>
          <p>{{ 'newsletter.success' | translate }}</p>
        </div>
      }
      @default {
        <form class="newsletter__form" (submit)="$event.preventDefault(); subscribe()">
          <div class="nl-input">
            <input
              type="email"
              [placeholder]="'newsletter.email_placeholder' | translate"
              [(ngModel)]="email"
              name="email"
              required>
            <button type="submit" [disabled]="status() === 'loading'">
              {{ 'newsletter.subscribe' | translate }}
            </button>
          </div>
        </form>
        @if (status() === 'error') {
          <p class="newsletter__error">{{ 'newsletter.error' | translate }}</p>
        }
      }
    }
  </div>
</section>
